GOOLE_API_KEY=
GOOGLE_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
TAVILY_API_KEY=
PROMETHEUX_API_KEY=
PROMETHEUX_BASE_URL=
PROMETHEUX_ORG=
PROMETHEUX_USER=
PROMETHEUX_PROJECT_ID=
CLICKHOUSE_URL=
CLICKHOUSE_SERVICE_ID=
CLICKHOUSE_SERVICE_NAME=
CLICKHOUSE_DATABASE=default
CLICKHOUSE_TABLE=find_my_model_events
CLICKHOUSE_API_KEY_ID=
CLICKHOUSE_API_KEY_SECRET=
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DEFAULT_USER_PASSWORD=
CLICKHOUST_DEFAULT_USER_PASSWORD=
CLICKHOUSE_QUERY_ENDPOINT_AUTO_CREATE=false
CLICKHOUSE_QUERY_ENDPOINT_ROLE=sql_console_admin
CLICKHOUSE_QUERY_ENDPOINT_ALLOWED_ORIGINS=http://localhost:3001
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
